# Gradle files
.gradle/
build/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# OS files
.DS_Store
Thumbs.db
